TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
SESSION_DRIVER=cookie

CLERK_PUBLISHABLE_KEY=pk_test_bmVlZGVkLWFkZGVyLTEwLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_vCJtyrfX4BNd6Y91XO1EnEaSGiDQkRVBO4aTTvxRp4
CLERK_API_URL=https://api.clerk.com
VITE_CLERK_PUBLISHABLE_KEY=pk_test_bmVlZGVkLWFkZGVyLTEwLmNsZXJrLmFjY291bnRzLmRldiQ
